CONFIG_"60XX_WDT"
CONFIG_"6LOWPAN"
CONFIG_"8139CP"
CONFIG_"8139TOO"
CONFIG_"8139TOO_8129"
CONFIG_ACENIC
CONFIG_ACERHDF
CONFIG_ACER_WIRELESS
CONFIG_ACER_WMI
CONFIG_ACPI_AC
CONFIG_ACPI_BATTERY
CONFIG_ACPI_CMPC
CONFIG_ACPI_CPPC_LIB
CONFIG_ACPI_DOCK
CONFIG_ACPI_EC_DEBUGFS
CONFIG_ACPI_FAN
CONFIG_ACPI_IPMI
CONFIG_ACPI_NFIT
CONFIG_ACPI_NUMA
CONFIG_ACPI_SBS
CONFIG_ACPI_TABLE_UPGRADE
CONFIG_ACPI_TINY_POWER_BUTTON
CONFIG_ACQUIRE_WDT
CONFIG_AD525X_DPOT
CONFIG_ADAPTEC_STARFIRE
CONFIG_ADFS_FS
CONFIG_ADIN_PHY
CONFIG_ADVANTECH_WDT
CONFIG_ADV_SWBUTTON
CONFIG_AFFS_FS
CONFIG_AF_KCM
CONFIG_ALIENWARE_WMI
CONFIG_ALIM1535_WDT
CONFIG_ALIM7101_WDT
CONFIG_ALTERA_MBOX
CONFIG_ALTERA_MSGDMA
CONFIG_ALTERA_TSE
CONFIG_ALX
CONFIG_AMD8111_ETH
CONFIG_AMD_PHY
CONFIG_AMD_PMC
CONFIG_AMD_XGBE
CONFIG_AMD_XGBE_HAVE_ECC
CONFIG_APDS9802ALS
CONFIG_APPLE_GMUX
CONFIG_APPLE_MFI_FASTCHARGE
CONFIG_APPLE_PROPERTIES
CONFIG_AQTION
CONFIG_AQUANTIA_PHY
CONFIG_ARCNET
CONFIG_ASUS_LAPTOP
CONFIG_ASUS_WIRELESS
CONFIG_AT803X_PHY
CONFIG_ATALK
CONFIG_ATA_OVER_ETH
CONFIG_ATA_SFF
CONFIG_ATH11K_PCI
CONFIG_ATL1
CONFIG_ATL1C
CONFIG_ATL1E
CONFIG_ATL2
CONFIG_ATM
CONFIG_AUTOFS4_FS
CONFIG_AUXDISPLAY
CONFIG_AX88796B_PHY
CONFIG_B43
CONFIG_B43LEGACY
CONFIG_B44
CONFIG_BATMAN_ADV
CONFIG_BATTERY_DS2780
CONFIG_BATTERY_DS2781
CONFIG_BCM54140_PHY
CONFIG_BCM7XXX_PHY
CONFIG_BCM84881_PHY
CONFIG_BCM87XX_PHY
CONFIG_BCMA
CONFIG_BCMGENET
CONFIG_BCM_NET_PHYLIB
CONFIG_BEFS_FS
CONFIG_BNA
CONFIG_BNX2
CONFIG_BNX2X
CONFIG_BNX2X_SRIOV
CONFIG_BNXT
CONFIG_BNXT_FLOWER_OFFLOAD
CONFIG_BNXT_HWMON
CONFIG_BNXT_SRIOV
CONFIG_BOARD_TPCI200
CONFIG_BRIDGE_NETFILTER
CONFIG_BROADCOM_PHY
CONFIG_#BT_BCM
CONFIG_#BT_MRVL
CONFIG_#BT_RTL
CONFIG_CADENCE_WATCHDOG
CONFIG_CAIF
CONFIG_CAN
CONFIG_CASSINI
CONFIG_CAVIUM_PTP
CONFIG_CB710_CORE
CONFIG_CDROM_PKTCDVD
CONFIG_CHROME_PLATFORMS
CONFIG_CHR_DEV_SCH
CONFIG_CHR_DEV_SG
CONFIG_CHR_DEV_ST
CONFIG_CICADA_PHY
CONFIG_CNIC
CONFIG_COMEDI
CONFIG_COMMON_CLK
CONFIG_COMPAL_LAPTOP
CONFIG_CORSAIR_CPRO
CONFIG_CORTINA_PHY
CONFIG_CPU5_WDT
CONFIG_CRAMFS
CONFIG_CRYPTO_AES_TI
CONFIG_CXL_BUS
CONFIG_CX_ECAT
CONFIG_CYPRESS_FIRMWARE
CONFIG_DA9062_WATCHDOG
CONFIG_DA9063_WATCHDOG
CONFIG_DAVICOM_PHY
CONFIG_DCDBAS
CONFIG_DE2104X
CONFIG_DE4X5
CONFIG_DECNET
CONFIG_DEFXX
CONFIG_DELL_RBTN
CONFIG_DELL_RBU
CONFIG_DELL_SMBIOS
CONFIG_DELL_WMI
CONFIG_DELL_WMI_AIO
CONFIG_DELL_WMI_DESCRIPTOR
CONFIG_DELL_WMI_LED
CONFIG_DELL_WMI_SYSMAN
CONFIG_DL2K
CONFIG_DLM
CONFIG_DM9102
CONFIG_DNET
CONFIG_DNOTIFY
CONFIG_DNS_RESOLVER
CONFIG_DP83822_PHY
CONFIG_DP83848_PHY
CONFIG_DP83867_PHY
CONFIG_DP83869_PHY
CONFIG_DP83TC811_PHY
CONFIG_DRM_GMA500
CONFIG_DRM_GUD
CONFIG_DRM_I810
CONFIG_DRM_I830
CONFIG_DRM_I915
CONFIG_DRM_MGA
CONFIG_DRM_NOUVEAU
CONFIG_DRM_R128
CONFIG_DRM_RADEON
CONFIG_DRM_SAVAGE
CONFIG_DRM_SIS
CONFIG_DRM_TDFX
CONFIG_DRM_VGEM
CONFIG_DRM_VIA
CONFIG_DUMMY
CONFIG_DUMMY_IRQ
CONFIG_DVB_CORE
CONFIG_DWC_XLGMAC
CONFIG_DWC_XLGMAC_PCI
CONFIG_DWMAC_GENERIC
CONFIG_DWMAC_INTEL
CONFIG_DWMAC_LOONGSON
CONFIG_DW_WATCHDOG
CONFIG_E100
CONFIG_E1000
CONFIG_EBC_C384_WDT
CONFIG_EDAC
CONFIG_EDAC_SUPPORT
CONFIG_EEPROM_LEGACY
CONFIG_EFS_FS
CONFIG_EISA
CONFIG_ENA_ETHERNET
CONFIG_ENC28J60
CONFIG_ENCLOSURE_SERVICES
CONFIG_ENCX24J600
CONFIG_ENIC
CONFIG_EPIC100
CONFIG_EQUALIZER
CONFIG_EROFS_FS
CONFIG_ET131X
CONFIG_ETHOC
CONFIG_EUROTECH_WDT
CONFIG_EXOFS_FS
CONFIG_F2FS_FS
CONFIG_F71808E_WDT
CONFIG_FB_BACKLIGHT
CONFIG_FDDI
CONFIG_FDOMAIN_ISA
CONFIG_FDOMAIN_PCI
CONFIG_FEALNX
CONFIG_FIXED_PHY
CONFIG_FM10K
CONFIG_FORCEDETH
CONFIG_FPGA
CONFIG_FUJITSU_ES
CONFIG_FUJITSU_LAPTOP
CONFIG_FUJITSU_TABLET
CONFIG_FUSION
CONFIG_FW_ATTR_CLASS
CONFIG_GFS2_FS
CONFIG_GNSS
CONFIG_GPD_POCKET_FAN
CONFIG_GPIO_CDEV_V1
CONFIG_GPIO_SYSFS
CONFIG_GREYBUS
CONFIG_GVE
CONFIG_HAMACHI
CONFIG_HAPPYMEAL
CONFIG_HFSPLUS_FS
CONFIG_HFS_FS
CONFIG_HINIC
CONFIG_HIPPI
CONFIG_HOTPLUG_PCI
CONFIG_HOTPLUG_PCI_PCIE
CONFIG_HPFS_FS
CONFIG_HP_ILO
CONFIG_HP_WATCHDOG
CONFIG_HP_WMI
CONFIG_HSR
CONFIG_HW_RANDOM_INTEL
CONFIG_HYPERV
CONFIG_HYPERV_STORAGE
CONFIG_I2C_GPIO
CONFIG_I2C_HID_ACPI
CONFIG_I2C_HID_CORE
CONFIG_I2C_MULTI_INSTANTIATE
CONFIG_I2C_TAOS_EVM
CONFIG_I40E
CONFIG_I40EVF
CONFIG_I6300ESB_WDT
CONFIG_I8K
CONFIG_IAVF
CONFIG_IB700_WDT
CONFIG_IBMASR
CONFIG_IBM_ASM
CONFIG_IBM_RTL
CONFIG_ICE
CONFIG_ICPLUS_PHY
CONFIG_ICS932S401
CONFIG_IE6XX_WDT
CONFIG_IEEE802154
CONFIG_IGBVF
CONFIG_IGB_DCA
CONFIG_IGB_HWMON
CONFIG_IGC
CONFIG_IIO
CONFIG_INT340X_THERMAL
CONFIG_IONIC
CONFIG_IPACK_BUS
CONFIG_IPV6_MIP6
CONFIG_IPV6_SIT
CONFIG_IP_DCCP
CONFIG_IP_PIMSM_V1 = yes;
CONFIG_IP_PIMSM_V2
CONFIG_IP_SCTP
CONFIG_IP_VS
CONFIG_ISA_BUS
CONFIG_ISL29003
CONFIG_ISL29020
CONFIG_IT8712F_WDT
CONFIG_IT87_WDT
CONFIG_ITCO_WDT
CONFIG_IXGB
CONFIG_IXGBE
CONFIG_IXGBEVF
CONFIG_IXGBEVF_IPSEC
CONFIG_IXGBE_DCA
CONFIG_IXGBE_HWMON
CONFIG_IXGBE_IPSEC
CONFIG_JFFS2_FS
CONFIG_JFS_FS
CONFIG_JME
CONFIG_KEMPLD_WDT
CONFIG_KS8842
CONFIG_KS8851
CONFIG_KS8851_MLL
CONFIG_KSZ884X_PCI
CONFIG_KUNIT
CONFIG_L2TP
CONFIG_LAN743X
CONFIG_LAPB
CONFIG_LCD_CLASS_DEVICE
CONFIG_LDISC_AUTOLOAD
CONFIG_LEGACY_PTYS
CONFIG_LG_LAPTOP
CONFIG_LIBERTAS
CONFIG_LIBFC
CONFIG_LIBFCOE
CONFIG_LIBNVDIMM
CONFIG_LIQUIDIO
CONFIG_LIQUIDIO_VF
CONFIG_LLC2
CONFIG_LOGIRUMBLEPAD2_FF
CONFIG_LOGITECH_FF
CONFIG_LOGIWHEELS_FF
CONFIG_LSI_ET1011C_PHY
CONFIG_LXT_PHY
CONFIG_MACB
CONFIG_MACB_PCI
CONFIG_MACB_USE_HWSTAMP
CONFIG_MACHZ_WDT
CONFIG_MACINTOSH_DRIVERS
CONFIG_MADERA_IRQ
CONFIG_MARVELL_88X2222_PHY
CONFIG_MARVELL_PHY
CONFIG_MAX63XX_WATCHDOG
CONFIG_MEDIATEK_GE_PHY
CONFIG_MEDIA_ANALOG_TV_SUPPORT
CONFIG_MEDIA_DIGITAL_TV_SUPPORT
CONFIG_MEGARAID_NEWGEN
CONFIG_MEMSTICK
CONFIG_MENF21BMC_WATCHDOG
CONFIG_MENZ069_WATCHDOG
CONFIG_MEN_A21_WDT
CONFIG_MHI_BUS
CONFIG_MICREL_KS8995MA
CONFIG_MICREL_PHY
CONFIG_MICROCHIP_PHY
CONFIG_MICROCHIP_T1_PHY
CONFIG_MICROSEMI_PHY
CONFIG_MINIX_FS
CONFIG_MLX4_CORE
CONFIG_MLX4_CORE_GEN2
CONFIG_MLX4_DEBUG
CONFIG_MLX4_EN
CONFIG_MMC_CB710
CONFIG_MMC_SDHCI
CONFIG_MMC_TIFM_SD
CONFIG_MOTORCOMM_PHY
CONFIG_MPLS
CONFIG_MSDOS_FS
CONFIG_MSI_WMI
CONFIG_MTD
CONFIG_MVMDIO
CONFIG_MXM_WMI
CONFIG_MYRI10GE
CONFIG_MYRI10GE_DCA
CONFIG_NATIONAL_PHY
CONFIG_NATSEMI
CONFIG_NE2K_PCI
CONFIG_NETFS_SUPPORT
CONFIG_NETXEN_NIC
CONFIG_NET_DSA
CONFIG_NET_FC
CONFIG_NET_IPIP
CONFIG_NET_L3_MASTER_DEV
CONFIG_NET_NSH
CONFIG_NET_PKTGEN
CONFIG_NET_SB1000
CONFIG_NET_SCHED
CONFIG_NET_SWITCHDEV
CONFIG_NET_TULIP
CONFIG_NFC
CONFIG_NFP
CONFIG_NI903X_WDT
CONFIG_NIC7018_WDT
CONFIG_NILFS2_FS
CONFIG_NIU
CONFIG_NI_XGE_MANAGEMENT_ENET
CONFIG_NS83820
CONFIG_NTB
CONFIG_NVME_FC
CONFIG_NVME_TCP
CONFIG_NV_TCO
CONFIG_NXP_C45_TJA11XX_PHY
CONFIG_NXP_TJA11XX_PHY
CONFIG_OCFS2_FS
CONFIG_OMFS_FS
CONFIG_OPENVSWITCH
CONFIG_ORANGEFS_FS
CONFIG_PANASONIC_LAPTOP
CONFIG_PARPORT
CONFIG_PC87413_WDT
CONFIG_PCCARD
CONFIG_PCIE_DPC
CONFIG_PCIPCWATCHDOG
CONFIG_PCI_HYPERV
CONFIG_PCI_MESON
CONFIG_PCI_SW_SWITCHTEC
CONFIG_PCMCIA
CONFIG_PCNET32
CONFIG_PCS_XPCS
CONFIG_PDC_ADMA
CONFIG_PEAQ_WMI
CONFIG_PHANTOM
CONFIG_PHONET
CONFIG_PMBUS
CONFIG_PNP
CONFIG_PPP
CONFIG_PROVIDE_OHCI1394_DMA_INIT
CONFIG_PSTORE_LZ4_COMPRESS
CONFIG_PSTORE_LZO_COMPRESS
CONFIG_QCOM_EMAC
CONFIG_QCOM_QMI_HELPERS
CONFIG_QED
CONFIG_QED_FCOE
CONFIG_QED_LL2
CONFIG_QED_OOO
CONFIG_QFMT_V1
CONFIG_QLA3XXX
CONFIG_QLCNIC
CONFIG_QLCNIC_HWMON
CONFIG_QLCNIC_SRIOV
CONFIG_QNX4FS_FS
CONFIG_QNX6FS_FS
CONFIG_QRTR
CONFIG_QSEMI_PHY
CONFIG_R6040
CONFIG_RAPIDIO
CONFIG_RAVE_SP_WATCHDOG
CONFIG_RCU_REF_SCALE_TEST
CONFIG_RCU_SCALE_TEST
CONFIG_RCU_TRACE
CONFIG_REISERFS_FS
CONFIG_RENESAS_PHY
CONFIG_RESET_CONTROLLER
CONFIG_RETU_WATCHDOG
CONFIG_RFKILL_GPIO
CONFIG_RFKLL_GPIO
CONFIG_RMNET
CONFIG_ROADRUNNER
CONFIG_ROCKCHIP_PHY
CONFIG_ROMFS_FS
CONFIG_RPMSG
CONFIG_RPMSG_CHAR
CONFIG_RPMSG_NS
CONFIG_RPMSG_QCOM_GLINK
CONFIG_RPMSG_QCOM_GLINK_RPM
CONFIG_RPMSG_VIRTIO
CONFIG_RTC_DRV_TEST
CONFIG_S2IO
CONFIG_SAMSUNG_LAPTOP
CONFIG_SAMSUNG_Q10
CONFIG_SATA_ACARD_AHCI
CONFIG_SATA_INIC162X
CONFIG_SATA_NV
CONFIG_SATA_SIL24
CONFIG_SBC_EPX_C3_WATCHDOG
CONFIG_SBC_FITPC2_WATCHDOG
CONFIG_SC1200_WDT
CONFIG_SC92031
CONFIG_SCF_TORTURE_TEST
CONFIG_SERIAL_IPOCTAL
CONFIG_SFP
CONFIG_SGIWD92_SCSI
CONFIG_SIOX
CONFIG_SIS190
CONFIG_SIS900
CONFIG_SKFP
CONFIG_SKGE
CONFIG_SKY2
CONFIG_SLICOSS
CONFIG_SLIMBUS
CONFIG_SMSC37B787_WDT
CONFIG_SMSC911X
CONFIG_SMSC9420
CONFIG_SMSC_PHY
CONFIG_SMSC_SCH311X_WDT
CONFIG_SND_BCD2000
CONFIG_SND_SOC
CONFIG_SOFT_WATCHDOG
CONFIG_SONY_LAPTOP
CONFIG_SOUNDWIRE
CONFIG_SPMI
CONFIG_SSB
CONFIG_STE10XP
CONFIG_STM
CONFIG_STMMAC_ETH
CONFIG_STMMAC_PCI
CONFIG_STMMAC_PLATFORM
CONFIG_SUNDANCE
CONFIG_SUNGEM
CONFIG_SURFACE_PLATFORMS
CONFIG_SXGBE_ETH
CONFIG_SYSTEM76_ACPI
CONFIG_SYSTEMPORT
CONFIG_SYSV_FS
CONFIG_TARGET_CORE
CONFIG_TCM_QLA2XXX
CONFIG_TCP_MD5SIG
CONFIG_TEHUTI
CONFIG_TERANETICS_PHY
CONFIG_THINKPAD_LMI
CONFIG_TIFM_CORE
CONFIG_TIGON3
CONFIG_TIGON3_HWMON
CONFIG_TIPC
CONFIG_TI_ST
CONFIG_TLAN
CONFIG_TOPSTAR_LAPTOP
CONFIG_TORTURE_TEST
CONFIG_TOSHIBA_BT_RFKILL
CONFIG_TOSHIBA_HAPS
CONFIG_TOSHIBA_WMI
CONFIG_TQMX86_WDT
CONFIG_TTPCI_EEPROM
CONFIG_TULIP
CONFIG_TYPHOON
CONFIG_UBIFS_FS
CONFIG_ULI526X
CONFIG_UNISYS_VISORBUS
CONFIG_USBPCWATCHDOG
CONFIG_VFIO
CONFIG_VIA_RHINE
CONFIG_VIA_VELOCITY
CONFIG_VIA_WDT
CONFIG_VIDEO_CX2341X
CONFIG_VIDEO_TVEEPROM
CONFIG_VIDEO_VIVID
CONFIG_VIRT_WIFI
CONFIG_VITESSE_PHY
CONFIG_VMD
CONFIG_VME_BUS
CONFIG_VMWARE_PVSCSI
CONFIG_VMXNET3
CONFIG_VORTEX
CONFIG_VSOCKETS
CONFIG_VXFS_FS
CONFIG_VXGE
CONFIG_VXLAN
CONFIG_W1
CONFIG_W83627HF_WDT
CONFIG_W83877F_WDT
CONFIG_W83977F_WDT
CONFIG_WAFER_WDT
CONFIG_WAN
CONFIG_WD719X
CONFIG_WDAT_WDT
CONFIG_WDTPCI
CONFIG_WIMAX
CONFIG_WINBOND_840
CONFIG_WIRELESS_HOTKEY
CONFIG_X86_PMEM_LEGACY
CONFIG_YELLOWFIN
CONFIG_ZIIRAVE_WATCHDOG

CONFIG_COMPAT_BRK
CONFIG_COMPAT_VDSO
CONFIG_COREDUMP
CONFIG_DEVMEM
CONFIG_DEVPORT
CONFIG_EFI_DISABLE_PCI_DMA
CONFIG_EFI_GENERIC_STUB_INITRD_CMDLINE_LOADER
CONFIG_EFI_VARS
CONFIG_KEXEC
CONFIG_KEXEC_FILE
CONFIG_HARDENED_USERCOPY_FALLBACK
CONFIG_HARDENED_USERCOPY_PAGESPAN
CONFIG_GPIOLIB
CONFIG_PROC_KCORE
CONFIG_PROFILING
CONFIG_STAGING
CONFIG_SYSFS_SYSCALL
CONFIG_UBSAN
CONFIG_UHID
CONFIG_UIO
CONFIG_USELIB
CONFIG_USERFAULTFD
CONFIG_SLAB_MERGE_DEFAULT
CONFIG_MODIFY_LDT_SYSCALL
CONFIG_X86_IOPL_IOPERM
CONFIG_X86_MCE_INJECT
CONFIG_X86_5LEVEL
CONFIG_SND_PCM_OSS
CONFIG_HOSTAP
CONFIG_SUPPORT_OLD_API
