#include "sdm845-oneplus-common.dtsi"

/ {
	model = "OnePlus 6T";
	compatible = "oneplus,fajita", "qcom,sdm845";
	chassis-type = "handset";
	qcom,msm-id = <0x141 0x20001>;
	qcom,board-id = <8 0 18801 41>;

	battery: battery {
		compatible = "simple-battery";

		charge-full-design-microamp-hours = <3700000>;
		voltage-min-design-microvolt = <3400000>;
		voltage-max-design-microvolt = <4400000>;
		constant-charge-current-max-microamp = <1800000>;
	};

	main_cam_ois: main-cam-ois-regulator {
		compatible = "regulator-fixed";
		regulator-name = "main_cam_ois";

		regulator-min-microvolt = <2850000>;
		regulator-max-microvolt = <2850000>;
		regulator-enable-ramp-delay = <100>;

		gpio = <&tlmm 40 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		vin-supply = <&vreg_l21a_2p95>;
	};

	main_cam_vaf: main-cam-vaf-regulator {
		compatible = "regulator-fixed";
		regulator-name = "main_cam_vaf";

		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-enable-ramp-delay = <100>;

		gpio = <&tlmm 31 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		vin-supply = <&vreg_bob>;
	};
};

&display_panel {
	status = "okay";

	compatible = "samsung,s6e3fc2x01";
};

&framebuffer {
	height = <2340>;
};

&bq27441_fg {
	monitored-battery = <&battery>;
};

&pmi8998_charger {
	monitored-battery = <&battery>;
};

&rmi4_f12 {
	touchscreen-y-mm = <148>;
	syna,clip-y-high = <2339>;
};

&wcd9340 {
	qcom,micbias1-microvolt = <2700000>;
	qcom,micbias2-microvolt = <2700000>;
	qcom,micbias3-microvolt = <2700000>;
	qcom,micbias4-microvolt = <2700000>;
};
